@inherits DitFloView<Navigation>

<!-- NAVIGATION -->
<nav id="nav">
    <ul class="wrapper">
        @foreach (var item in Model.View.MenuItems)
        {
        <li class="nav-item">
            <a href="@item.Url" title="@item.Label" class="nav-link">@item.Label</a>
        </li>
        }
    </ul>
</nav>

<hr>