@inherits UmbracoTemplatePage
@{
	var homepage = Model.Content.AncestorOrSelf(1);
	var nodes = homepage.Descendants().Where(x => x.GetPropertyValue<bool>("showMainNavigation"));
	if (nodes != null && nodes.Count() > 0)
	{
		<ul>
			@foreach (var node in nodes)
			{
				<li><a href="@node.NiceUrl()">@node.Name</a></li>
			}
			@if (Model.Content.HasValue("festivalTicketUrl"))
			{
				<li><a href="@Model.Content.GetPropertyValue("festivalTicketUrl")">Tickets</a></li>
			}
		</ul>
	}
}