@inherits UmbracoTemplatePage
@{
	var homepage = Model.Content.AncestorOrSelf(1);
	var nodes = homepage.Descendants().Where(x => x.GetPropertyValue<bool>("showFooterNavigation"));
	if (nodes != null && nodes.Count() > 0)
	{
        
		<div class="links">
			@foreach (var node in nodes)
			{
				<a href="@node.NiceUrl()">@node.Name</a>
			}
		</div>
	}
}