@inherits UmbracoTemplatePage
@{
	var homepage = Model.Content.AncestorOrSelf(1);


    var nodes = Model.Content.Ancestors().Where(x => x.GetPropertyValue<bool>("showMainNavigation") || x.Level == 1);
  
    
	if (nodes != null && nodes.Count() > 0)
	{
		<ul class="breadcrumb">
			@foreach (var node in nodes)
			{
				<li @Html.Raw(node.Id==Model.Content.Id ? "class=\"active\"" : "")><a href="@node.NiceUrl()">@node.Name</a> <span class="divider">/</span></li>
			}
			<li class="active">@Model.Content.Name</li>
		</ul> 
	}    
}
