@inherits UmbracoTemplatePage
@{
	var homepage = Model.Content.AncestorOrSelf(1);
	var nodes = homepage.Descendants().Where(x => x.GetPropertyValue<bool>("showMainNavigation"));
	if (nodes != null && nodes.Count() > 0)
	{
		<ul class="nav nav-pills">
			@foreach (var node in nodes)
			{
				<li @Html.Raw(node.Id==Model.Content.Id ? "class=\"active\"" : "")><a href="@node.NiceUrl()">@node.Name</a></li>
			}
			@if (homepage.HasValue("festivalTicketUrl"))
			{
				<li><a href="@homepage.GetPropertyValue("festivalTicketUrl")">Tickets</a></li>
			}
		</ul>
	}
}