body {
    margin-top:30px;
}

div.subnav {
    margin: 0;
}

/*.breadcrumb{
    background-color: transparent;
    /*padding-left:10px;*/
    margin:0;
}


.alert
{
margin:0px;

}

.alert-block {
margin:0px;
}

.page-header {
margin: 10px 0 0 0;

}