# GIT IGNORE FILE
[Bb]in
[Oo]bj

_ReSharper.*
*.suo
*.user
*.cache
*.orig
.DS_Store
Thumbs.db
empty.txt

packages/*
src/_html/*
src/Our.Umbraco.FestivalStarterKit/App_Data/*
src/Our.Umbraco.FestivalStarterKit/App_Browsers/*
src/Our.Umbraco.FestivalStarterKit/App_Code/*
src/Our.Umbraco.FestivalStarterKit/App_Data/*
src/Our.Umbraco.FestivalStarterKit/App_Plugins/*
src/Our.Umbraco.FestivalStarterKit/bin/*
src/Our.Umbraco.FestivalStarterKit/config/*
src/Our.Umbraco.FestivalStarterKit/*.as*
src/Our.Umbraco.FestivalStarterKit/install/*
src/Our.Umbraco.FestivalStarterKit/macroScripts/*
src/Our.Umbraco.FestivalStarterKit/masterpages/*
src/Our.Umbraco.FestivalStarterKit/umbraco/*
src/Our.Umbraco.FestivalStarterKit/umbraco_client/*
src/Our.Umbraco.FestivalStarterKit/usercontrols/*
src/Our.Umbraco.FestivalStarterKit/web.config
src/Our.Umbraco.FestivalStarterKit/xslt/*