<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT ContactSection ANY>
<!ATTLIST ContactSection id ID #REQUIRED>
<!ELEMENT ContentSection ANY>
<!ATTLIST ContentSection id ID #REQUIRED>
<!ELEMENT FestivalStarterKit ANY>
<!ATTLIST FestivalStarterKit id ID #REQUIRED>
<!ELEMENT Homepage ANY>
<!ATTLIST Homepage id ID #REQUIRED>
<!ELEMENT LocationSection ANY>
<!ATTLIST LocationSection id ID #REQUIRED>
<!ELEMENT ScheduleSection ANY>
<!ATTLIST ScheduleSection id ID #REQUIRED>
<!ELEMENT ScheduleSession ANY>
<!ATTLIST ScheduleSession id ID #REQUIRED>
<!ELEMENT ScheduleSessionSpeaker ANY>
<!ATTLIST ScheduleSessionSpeaker id ID #REQUIRED>
<!ELEMENT ScheduleTimeout ANY>
<!ATTLIST ScheduleTimeout id ID #REQUIRED>
<!ELEMENT SpeakersSection ANY>
<!ATTLIST SpeakersSection id ID #REQUIRED>
<!ELEMENT SponsorsSection ANY>
<!ATTLIST SponsorsSection id ID #REQUIRED>
<!ELEMENT SponsorsSectionSponsor ANY>
<!ATTLIST SponsorsSectionSponsor id ID #REQUIRED>

]>
<root id="-1">
  <Homepage id="1059" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-08-04T21:37:48" updateDate="2015-08-04T21:59:25" nodeName="Festival Starter Kit" urlName="festival-starter-kit" path="-1,1059" isDoc="" nodeType="1052" creatorName="Lee Kelleher" writerName="Lee Kelleher" writerID="0" template="1050" nodeTypeAlias="Homepage">
    <festivalName><![CDATA[Umbraco Festival]]></festivalName>
    <festivalDescription><![CDATA[Come join us at the amazing Umbraco Festival!]]></festivalDescription>
    <festivalStartDate>2016-04-21T21:58:31</festivalStartDate>
    <festivalEndDate>2016-04-22T21:58:47</festivalEndDate>
    <ticketPrice><![CDATA[£150]]></ticketPrice>
    <linkText><![CDATA[Register now!]]></linkText>
    <linkUrl><![CDATA[#]]></linkUrl>
    <ContentSection id="1060" parentID="1059" level="2" creatorID="0" sortOrder="0" createDate="2015-08-04T21:38:26" updateDate="2015-08-04T23:28:25" nodeName="About" urlName="about" path="-1,1059,1060" isDoc="" nodeType="1053" creatorName="Lee Kelleher" writerName="Lee Kelleher" writerID="0" template="0" nodeTypeAlias="ContentSection">
      <content><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "editors": [
                "headline"
              ],
              "controls": [
                {
                  "value": "<p>So you want to organize a conference? That's pretty awesome! But we know that you don't have time to create the website, since you have to worry about contacting sponsors, choosing the right place, buying aeroplane tickets for speakers and many other things.</p>\n<p>That's why we created this project! <a href=\"https://github.com/leekelleher/umbraco-festival-starter-kit\">Festival Starter Kit</a> is an iniciative of <a href=\"http://umbrellainc.co.uk\">Umbrella Inc</a> that provides a simple structure built on top of Umbraco CMS and DitFlo, a workflow based on the Ditto mapping engine, with all the things you need to create a event!</p>",
                  "editor": {
                    "name": "Rich text editor",
                    "alias": "rte",
                    "view": "rte",
                    "render": null,
                    "icon": "icon-article",
                    "config": {}
                  }
                }
              ]
            }
          ],
          "id": "81312f46-979f-ad53-5560-1eefbc2fbeb4"
        }
      ]
    }
  ]
}]]></content>
    </ContentSection>
    <LocationSection id="1061" parentID="1059" level="2" creatorID="0" sortOrder="1" createDate="2015-08-04T21:38:36" updateDate="2015-08-05T00:39:29" nodeName="Location" urlName="location" path="-1,1059,1061" isDoc="" nodeType="1054" creatorName="Lee Kelleher" writerName="Lee Kelleher" writerID="0" template="0" nodeTypeAlias="LocationSection">
      <address><![CDATA[Arborary Ln]]></address>
      <city><![CDATA[Huddersfield]]></city>
      <state><![CDATA[UK]]></state>
      <venue><![CDATA[Coco Bongo]]></venue>
    </LocationSection>
    <SpeakersSection id="1062" parentID="1059" level="2" creatorID="0" sortOrder="2" createDate="2015-08-04T21:38:46" updateDate="2015-08-04T22:31:50" nodeName="Speakers" urlName="speakers" path="-1,1059,1062" isDoc="" nodeType="1055" creatorName="Lee Kelleher" writerName="Lee Kelleher" writerID="0" template="0" nodeTypeAlias="SpeakersSection">
      <featuredSpeakers><![CDATA[1076,1078]]></featuredSpeakers>
    </SpeakersSection>
    <ScheduleSection id="1063" parentID="1059" level="2" creatorID="0" sortOrder="3" createDate="2015-08-04T21:39:07" updateDate="2015-08-05T00:07:00" nodeName="Schedule" urlName="schedule" path="-1,1059,1063" isDoc="" nodeType="1056" creatorName="Lee Kelleher" writerName="Lee Kelleher" writerID="0" template="0" nodeTypeAlias="ScheduleSection">
      <intro><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>]]></intro>
      <ScheduleTimeout id="1074" parentID="1063" level="3" creatorID="0" sortOrder="0" createDate="2015-08-04T22:26:19" updateDate="2015-08-04T22:26:19" nodeName="9am - Check-in / Breakfast" urlName="9am-check-in-breakfast" path="-1,1059,1063,1074" isDoc="" nodeType="1069" creatorName="Lee Kelleher" writerName="Lee Kelleher" writerID="0" template="0" nodeTypeAlias="ScheduleTimeout">
        <title><![CDATA[Check-in / Breakfast]]></title>
        <time><![CDATA[9h00]]></time>
      </ScheduleTimeout>
      <ScheduleSession id="1075" parentID="1063" level="3" creatorID="0" sortOrder="1" createDate="2015-08-04T22:27:18" updateDate="2015-08-05T00:19:54" nodeName="10am - Digging into a Linux Kernel" urlName="10am-digging-into-a-linux-kernel" path="-1,1059,1063,1075" isDoc="" nodeType="1070" creatorName="Lee Kelleher" writerName="Lee Kelleher" writerID="0" template="0" nodeTypeAlias="ScheduleSession">
        <title><![CDATA[Digging into a Linux Kernel]]></title>
        <description><![CDATA[Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo]]></description>
        <time><![CDATA[10h00]]></time>
        <ScheduleSessionSpeaker id="1076" parentID="1075" level="4" creatorID="0" sortOrder="0" createDate="2015-08-04T22:28:25" updateDate="2015-08-05T00:02:42" nodeName="Linus Torvalds" urlName="linus-torvalds" path="-1,1059,1063,1075,1076" isDoc="" nodeType="1071" creatorName="Lee Kelleher" writerName="Lee Kelleher" writerID="0" template="0" nodeTypeAlias="ScheduleSessionSpeaker">
          <speakerCompany><![CDATA[Linux Foundation]]></speakerCompany>
          <speakerName><![CDATA[Linus Torvalds]]></speakerName>
          <speakerBio><![CDATA[Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo]]></speakerBio>
          <speakerPhoto><![CDATA[/media/1001/northbynorthwest_300x300.jpg]]></speakerPhoto>
          <speakerLinkText><![CDATA[@linus]]></speakerLinkText>
          <speakerLinkUrl><![CDATA[http://twitter.com/linus]]></speakerLinkUrl>
        </ScheduleSessionSpeaker>
      </ScheduleSession>
      <ScheduleSession id="1077" parentID="1063" level="3" creatorID="0" sortOrder="2" createDate="2015-08-04T22:29:58" updateDate="2015-08-05T00:20:00" nodeName="11am - Introducing Windows 12" urlName="11am-introducing-windows-12" path="-1,1059,1063,1077" isDoc="" nodeType="1070" creatorName="Lee Kelleher" writerName="Lee Kelleher" writerID="0" template="0" nodeTypeAlias="ScheduleSession">
        <title><![CDATA[Introducing Windows 12]]></title>
        <description><![CDATA[Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo]]></description>
        <time><![CDATA[11h00]]></time>
        <ScheduleSessionSpeaker id="1078" parentID="1077" level="4" creatorID="0" sortOrder="0" createDate="2015-08-04T22:31:09" updateDate="2015-08-05T00:02:49" nodeName="Bill Gates" urlName="bill-gates" path="-1,1059,1063,1077,1078" isDoc="" nodeType="1071" creatorName="Lee Kelleher" writerName="Lee Kelleher" writerID="0" template="0" nodeTypeAlias="ScheduleSessionSpeaker">
          <speakerCompany><![CDATA[Microsoft]]></speakerCompany>
          <speakerName><![CDATA[Bill Gates]]></speakerName>
          <speakerBio><![CDATA[Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo]]></speakerBio>
          <speakerPhoto><![CDATA[/media/1002/northbynorthwest_300x300.jpg]]></speakerPhoto>
          <speakerLinkText><![CDATA[@billgates]]></speakerLinkText>
          <speakerLinkUrl><![CDATA[https://twitter.com/billgates]]></speakerLinkUrl>
        </ScheduleSessionSpeaker>
      </ScheduleSession>
      <ScheduleTimeout id="1079" parentID="1063" level="3" creatorID="0" sortOrder="3" createDate="2015-08-04T22:31:29" updateDate="2015-08-04T22:31:29" nodeName="12pm - Lunch" urlName="12pm-lunch" path="-1,1059,1063,1079" isDoc="" nodeType="1069" creatorName="Lee Kelleher" writerName="Lee Kelleher" writerID="0" template="0" nodeTypeAlias="ScheduleTimeout">
        <title><![CDATA[Lunch]]></title>
        <time><![CDATA[12h00]]></time>
      </ScheduleTimeout>
    </ScheduleSection>
    <SponsorsSection id="1064" parentID="1059" level="2" creatorID="0" sortOrder="4" createDate="2015-08-04T21:39:18" updateDate="2015-08-04T21:39:18" nodeName="Sponsors" urlName="sponsors" path="-1,1059,1064" isDoc="" nodeType="1057" creatorName="Lee Kelleher" writerName="Lee Kelleher" writerID="0" template="0" nodeTypeAlias="SponsorsSection">
      <SponsorsSectionSponsor id="1081" parentID="1064" level="3" creatorID="0" sortOrder="0" createDate="2015-08-04T22:34:45" updateDate="2015-08-05T00:27:10" nodeName="Umbrella Inc" urlName="umbrella-inc" path="-1,1059,1064,1081" isDoc="" nodeType="1080" creatorName="Lee Kelleher" writerName="Lee Kelleher" writerID="0" template="0" nodeTypeAlias="SponsorsSectionSponsor">
        <name><![CDATA[Umbrella Inc]]></name>
        <logo><![CDATA[/media/1003/northbynorthwest_300x300.jpg]]></logo>
        <linkUrl><![CDATA[http://umbrellainc.co.uk]]></linkUrl>
      </SponsorsSectionSponsor>
    </SponsorsSection>
    <SponsorsSection id="1065" parentID="1059" level="2" creatorID="0" sortOrder="5" createDate="2015-08-04T21:39:26" updateDate="2015-08-04T21:39:26" nodeName="Partners" urlName="partners" path="-1,1059,1065" isDoc="" nodeType="1057" creatorName="Lee Kelleher" writerName="Lee Kelleher" writerID="0" template="0" nodeTypeAlias="SponsorsSection" />
    <ContactSection id="1066" parentID="1059" level="2" creatorID="0" sortOrder="6" createDate="2015-08-04T21:39:35" updateDate="2015-08-05T00:29:54" nodeName="Contact" urlName="contact" path="-1,1059,1066" isDoc="" nodeType="1058" creatorName="Lee Kelleher" writerName="Lee Kelleher" writerID="0" template="0" nodeTypeAlias="ContactSection">
      <intro><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis ducimus neque amet corrupti ex temporibus similique.</p>]]></intro>
    </ContactSection>
  </Homepage>
</root>