@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "FestivalStarterKit.cshtml";
}

@section HtmlBodyContent
{
    <div class="accordion" id="accordion">


        	@{ var x = 0;

            foreach (var faq in Model.Content.Children)
            {
                x++;
               <div class="accordion-group">
			
				
                   <div class="accordion-heading">
                <a class="accordion-toggle" data-parent="#accordion" data-toggle="collapse" href="#faq_@x">
                  <strong>@Html.Raw(x + ".") @faq.Name</strong>
                </a>
              </div>

			@foreach (var answer in faq.Children)
   {
                   <div class="accordion-body collapse" id="faq_@x" style="height: 0px;">
                <div class="accordion-inner">
                @Html.Raw(answer.GetProperty("PageText").Value) </div>
              </div>

   }

                   </div>
            }

        }
            
    </div>
}