@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "FestivalStarterKit.cshtml";
}

@section HtmlBodyContent
{

    <div class="well" style="padding: 8px 0;">
	<ul class="nav nav-list">
		@foreach (var newsPage in Model.Content.Children)
		{
			<li>
				<a href="@newsPage.NiceUrl()">@newsPage.Name</a>
			</li>
		}
	</ul>
    </div>
}