@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "FestivalStarterKit.cshtml";
}

@section HtmlBodyContent
{
	<h1>@Umbraco.Field("pageTitle", "pageName")</h1>
	@Umbraco.Field("pageText")

	<!-- Show speaker details -->
}