@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "FestivalStarterKit.cshtml";
}

@section HtmlBodyContent
{
	@Umbraco.Field("pageTitle", "pageName", insertBefore: "<h1>", insertAfter: "</h1>")
	@Umbraco.Field("pageText")

	<!-- Google Map -->
}