@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{ Layout = "FestivalStarterKit.cshtml"; }

@section HtmlBodyContent
{
	<div class="row">
		<div class="span12">
			<iframe width="1170" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk/maps?ie=UTF8&amp;q=Kedel-hallen+Nyelandsvej+75+A+2000+Frederiksberg&amp;fb=1&amp;gl=uk&amp;hq=Kedel-hallen&amp;hnear=0x465253c7b18b88fd:0xc8abe6938339aff,Nyelandsvej+75,+2000+Frederiksberg,+Denmark&amp;cid=0,0,14275344529116212574&amp;t=m&amp;ll=55.683987,12.52145&amp;spn=0.006295,0.006295&amp;output=embed"></iframe>
			<br />
			<small><a href="https://maps.google.co.uk/maps?ie=UTF8&amp;q=Kedel-hallen+Nyelandsvej+75+A+2000+Frederiksberg&amp;fb=1&amp;gl=uk&amp;hq=Kedel-hallen&amp;hnear=0x465253c7b18b88fd:0xc8abe6938339aff,Nyelandsvej+75,+2000+Frederiksberg,+Denmark&amp;cid=0,0,14275344529116212574&amp;t=m&amp;ll=55.683987,12.52145&amp;spn=0.006295,0.006295&amp;source=embed">View Larger Map</a></small>
		</div>
	</div>
}