@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "FestivalStarterKit.cshtml";
}

@section HtmlBodyContent
{
    <div class="row">
        <div class="span12">
        <iframe width="940" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk/maps/ms?msa=0&amp;msid=207527711462213598952.0004d9fd2e737170a68a7&amp;ie=UTF8&amp;t=m&amp;ll=50.822773,-0.140891&amp;spn=0.004067,0.010074&amp;z=17&amp;output=embed"></iframe><br /><small>View <a href="https://maps.google.co.uk/maps/ms?msa=0&amp;msid=207527711462213598952.0004d9fd2e737170a68a7&amp;ie=UTF8&amp;t=m&amp;ll=50.822773,-0.140891&amp;spn=0.004067,0.010074&amp;z=17&amp;source=embed" style="color:#0000FF;text-align:left">Festival</a> in a larger map</small>		
</div></div>
}